* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
    overflow-x: hidden;
}

.main {
    height: 440vh;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 26%, rgba(19, 4, 4, 1) 28%, rgba(68, 34, 34, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(9, 1, 1, 1) 63%, rgba(80, 14, 14, 1) 85%, rgba(0, 0, 0, 1) 94%);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 26%, rgba(19, 4, 4, 1) 28%, rgba(68, 34, 34, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(9, 1, 1, 1) 63%, rgba(80, 14, 14, 1) 85%, rgba(0, 0, 0, 1) 94%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 26%, rgba(19, 4, 4, 1) 28%, rgba(68, 34, 34, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(9, 1, 1, 1) 63%, rgba(80, 14, 14, 1) 85%, rgba(0, 0, 0, 1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.main .head {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.main .head h2 {
    font-size: 3em;
    color: red;
}

.main .head button {
    font-size: 1em;
    border-radius: 16px;
    height: 30px;
    width: 80px;
}

.main .main-home {
    height: 78vh;
    width: 94vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assist/NP-en-20250331-TRIFECTA-perspective_e6c4b93c-c66a-4365-b84d-8efd6f91e6ec_large.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin: auto;
    border-radius: 20px;
    display: flex;

    justify-content: center;

}

.main-home .content {
    align-items: center;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

}

.main-home h2 {
    font-size: 3.8em;
}

.main-home h4 {
    font-size: 1.6em;
}

.main-home .content .feilds {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-home .content .feilds input {
    height: 60px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    padding-left: 10px;
    border-radius: 30px;
    color: white;
}

.main-home .content .feilds button {
    height: 60px;
    width: 200px;
    background-color: red;
    color: white;
    text-align: center;
    border: 1px solid white;
    padding-left: 10px;
    border-radius: 30px;
    font-size: 1.6em;
    border: none;
}


/* Tranding Now */

.tranding-now {
    margin: auto;
    color: white;
    margin-top: 20px;
    /* height: 50vh; */
    width: 88vw;
    /* background-color: black; */
    text-align: left;
    overflow: hidden;
}


.tranding-now h2 {
    font-size: 2em;
    padding-left: 80px;
}

.tranding-now .tranding-movies {
    /* height: 90%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin: 4%;
    /* background-color: red; */

}

.tranding-movies .movie {
    height: 268px;
    width: 144px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;

}

.movie:hover {
    transform: scale(1.1);
}

#movi-1 {
    background-image: url(../assist/movie1.jpg);
}

#movi-2 {
    background-image: url(../assist/movie2.png);
}

#movi-3 {
    background-image: url(../assist/movie3.jpg);
}

#movi-4 {
    background-image: url(../assist/movie4.jpg);
}

#movi-5 {
    background-image: url(../assist/movie5.jpg);
}

#movi-6 {
    background-image: url(../assist/movie6.jpg);
}

#movi-7 {
    background-image: url(../assist/movie7.jpg);
}


/* Reason */
.reasons-main {
    margin-top: 20px;


}

.reasons-main h2 {
    color: white;
    padding-left: 180px;
    font-size: 2em;
    padding-bottom: 20px;
}

.reason-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* height: 40vh; */
    /* background-color: blue; */
    gap: 28px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

}

.reason {
    height: 240px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.301);
    border: 1px solid rgba(44, 44, 44, 0.301);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.566);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.reason h2 {
    text-align: left;

}

.content h3 {
    padding: 10px 0px 10px 0px;
}

.reason .image {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
}

/* Questions */

.question-main h2{
    color: white;
    font-size: 2em;
    padding: 20px 0px 20px 180px;
}
.questions-list {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    margin: auto;
}

.question {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 80%;;
    font-size: 1em;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.301);
    padding-left: 20px;
    padding-right: 20px
}

.question:hover{
    background-color: rgb(103, 103, 103);
}

/* Inputs */

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100vw;
}

.inputs p{
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

.inputs .feilds input{
    height: 30px;
    width: 200px;
    border-radius: 20px;
}

.inputs .feilds button{
    height: 30px;
    width: 80px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
}

/* Media Quieries */
@media (max-width: 768px) {
    .main .head h2 {
        font-size: 2em;
    }

    .main .main-home {
        height: 56vh;
        width: 90vw;
    }

    .main-home .content {
        height: 100%;
        width: 90%;
    }

    .main-home .content h2 {
        font-size: 2em;
    }

    .main-home .content h4 {
        font-size: 1em;
    }

    .main-home .content .feilds {
        width: 100%;
        /* height: 300px; */
        display: flex;
        flex-direction: column;
    }

    .main-home .content .feilds button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        font-size: 1em;
        display: flex;
        flex-direction: column;

    }
}

@media (max-width: 1200px) {
    .reason-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    .reason {
        width: 90%;
        height: 140px;
        display: flex;
        flex-direction: row;

    }

    .reason .content {
        height: 100%;
        width: 70%;
        overflow: hidden;
    }

    .content h3 {
        text-align: center;
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }

    .reason .image {
        height: 100%;
        width: 30%;

    }

    .reasons-main h2{
        font-size: 20px;
    }

    .question-main h2{
        font-size: 20px;
    }
}